<div class="row" style="margin-top:10px;">
    <div class="col-md-5">
        <div class="card">
            <div class="card-block">
                <div class="well">
                    <h2>{{eventDetail?.name }}</h2>
                    <div>Date: {{eventDetail?.date | date:'shortDate'}}</div>
                    <div [ngSwitch]="eventDetail?.time">Time: {{eventDetail?.time}}
                        <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
                        <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
                        <span *ngSwitchDefault>(Normal Start)</span>
                    </div>
                    <div>Price:<span class="text-danger"> {{eventDetail?.price | currency:'USD':true}}</span></div>
                    <div [hidden]="!eventDetail?.location">
                        <span>Location: {{eventDetail?.location?.address}}</span>
                        <span class="pad-left">{{eventDetail?.location?.city}}, {{eventDetail?.location?.country}}</span>
                    </div>
                    <div [hidden]="!eventDetail?.onlineUrl">
                        Online Url: {{eventDetail?.onlineUrl}}
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>