<!--Navbar-->
<nav class="navbar fixed-top navbar-toggleable-md scrolling-navbar navbar-dark bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1"
      aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" [routerLink]="['/welcome']">
      <strong>DhanaiFruitsMart</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['event/eventList']">Events </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product/productList']">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Pricing</a>
        </li>
        <li class="nav-item btn-group dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" [routerLink]="['/contact']">Contact</a>
            <a class="dropdown-item" [routerLink]="['/customer/customerList']">customer</a>
            <a class="dropdown-item" [routerLink]="['/user/profile']">profile</a>
          </div>
        </li>
      </ul>
      <form class="form-inline waves-effect waves-light">
        <input class="form-control" type="text" placeholder="Search">
      </form>
      <a class="nav-link" *ngIf="!auth.isAuthenticated()" [routerLink]="['/user/login']"><i class="fa fa-sign-in"></i> login</a>
      <a class="nav-link animated slideInLeft" *ngIf="auth.isAuthenticated()" [routerLink]="['/user/profile']">Welcome {{auth.currentUser.firstName}} </a>
    </div>
  </div>
</nav>
<!--/.Navbar-->
