<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form [formGroup]="profileForm" (ngSubmit)="SaveProfile(profileForm.value)" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{'error' : !validateFirstName() }">
        <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
        <input formControlName="firstName" name="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..."
        />
      </div>
      <div class="form-group" [ngClass]="{'error' : !validateLastName() }">
        <em *ngIf="!validateLastName()">Required</em>
        <input formControlName="lastName" id="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name..."
        />
      </div>

      <button type="submit" class="btn btn-primary btn-sm" [disabled]="profileForm.invalid">Save</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="cancelProfile()">Cancel</button>
    </form>
  </div>
</div>
